ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  li a:hover {
    background-color: black;
  }
  button{
    background-color: blue;
    font-size: 16px;
    color:white;
    border: none;
    cursor: pointer;
    border-radius: 27px;
    padding: 9px 20px;
    margin: 45px;
  }